<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= singleArticle.title %></title>
    <style>
        body {
            display: flex;
            justify-content: space-around;
        }
        button {
            margin: 10px 0;
            padding: 5px;
        }
        article {
            width: 35%;
        }
        p {
            line-height: 1.3;
        }
        input,
        textarea {
            display: block;
            margin: 2px;
            padding: 5px;
        }
        .comments_section {
            border: 1px solid gray;
            padding: 5px;
            margin-top: 30px;
        }
        .one_comment {
            display: flex;
            justify-content: space-between;
            padding: 2px;
            background: rgba(128, 128, 128, 0.473);
            margin-top: 5px;
        }
        .delete-btn {
            font-weight: 900;
            color: red;
            cursor: pointer;
        }
        .update-btn {
            font-weight: 900;
            color: blue;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <article>
        <h1><%= singleArticle.title %></h1>
        <br>
        <p><%= singleArticle.description %></p>
        <br>
        <small>Written by: <strong><%= singleArticle.artAuthor %></strong></small>
    </article>
    <div>
            <% if(user) { %>
                <a href="/article/update/<%= singleArticle.id %>"><button>Update Article</button></a>
                <a href="/article/delete/<%= singleArticle.id %>"><button>Delete Article</button></a>
                <a href="/users/logout"><button>LogOut</button></a>     
            <% } else { %>
                <a href="/users/register"><button>Register</button></a>
                <a href="/users/login"><button>LogIn</button></a>
            <% } %>
        

            <% if(user) { %>
                <form action="/article/<%= singleArticle.id %>/comments", method="POST">
                    <textarea name="commentText" id="" cols="30" rows="10">Write your comment here...</textarea>
                    <input type="text" name="comAuthor", value="<%= user.name %>", style="display: none;">
                    <input type="text" name="authorId" value="<%= user._id %>">
                    <input type="submit", value="Add Comment">
                </form>     
            <% } else { %>
                <h3>Please LogIn to be able to add comments.</h3>
            <% } %>

        <div class="comments_section">
            <h4 style="text-align: center">Comments</h4>
            <% articleComments.forEach(c => { %>
                <div class="one_comment">
                    <div>
                        <p><%= c.commentText %></p>
                        <small>commented by: <%= c.comAuthor %></small>
                    </div>
                    <div>
                        <% if(user) { %>
                            <a href="comment/delete/<%= c.id %>"><span class="delete-btn">X</span></a>
                            <a href="comment/update/<%= c.id %>"><span class="update-btn">Edit</span></a>     
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>